/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
   
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
    overflow:hidden;
    
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }

  main {
    text-align:center;
    font-size:40px;
    color:cornflowerblue;
    font-weight:400;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin:0 auto;
    height:100%;
    padding-top:0px;
  }


#splash-title {
  font-size:105px;
  
  font-weight:800;
}
  
main button {
  cursor: pointer;
}
  
#start-button {
  width:20%;
  padding:12px;
  margin-top:-27px;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  background-color:transparent;
  color:#fff;
  border-radius: 10px;
  border:none;
  font-weight:600;
}

#instructions-button {
  width:20%;
  padding:12px;
  margin:5px auto;
  font-size:25px;
  background-color:transparent;
  color:#fff;
  border-radius: 10px;
  border:none;
  font-weight:600;
}

#back-button {
  width:20%;
  padding:12px;
  margin:5px auto;
  font-size:25px;
  background-color:transparent;
  color:cornflowerblue;
  border-radius: 10px;
  border:none;
  font-weight:600;
}



#restart-button {
  width:20%;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  background-color:transparent;
  color:cornflowerblue;
  border-radius: 10px;
  margin-top:30px;
  border:none;
  font-weight:600;
  
  cursor: pointer;
}

#restart-button:hover {
  color:rgba(30, 28, 28, 0.778);
}

  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 1032px;
      margin: 0 auto;
    }
  }
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom:5px;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;

  }

  .game .time {
    flex: 1;

  }
  
  .game .label {
    font-weight: bold;
    font-size:25px;
  }
  
  .game .value {
    font-style: italic;
    font-size:30px;
  }
  
  .game .canvas-container {
    flex: 1;
    margin-bottom:15px;
    margin-top:20px;
  }

  #counter-top {
    width:100%;
    height:20px;
    color:grey;
    margin-bottom:20px;
  }

  .collected  {
    font-size:25px;
    margin-bottom:10px;
    
    padding-bottom:20px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .collected img {
    width:60px;
    height:30px;
    margin-bottom:-25px;
  
  }
  .collected2 img {
    width:40px;
    height:30px;
    margin-bottom:-15px;
    
  
  }

  .collected2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
   
  }


  #collect {
    padding-top:0px;
    padding-bottom:15px;
   
  }

  #gameTop {
    padding-top:20px;
  }

  #score-board {
    margin-top:30px;
    font-size:25px;
    color:rgba(30, 28, 28, 0.778);
    font-weight:600;
    padding-left:0;
    width:300px;
    margin: 0 auto;
    
    background-color:cornflowerblue;
  }

  #score-title {
    margin-top:60px;
    font-size:25px;
    color:rgba(30, 28, 28, 0.778);
    font-weight:600;
    padding-left:0;
padding-top:50px;
    margin: 0 auto;
  }

  #game-over {
    margin-top:30px;
  }

  #your-score {
    margin-top:10px;
  }

  .player-name {
    width:150px;
    padding:10px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top:8px;
    text-align:center;
    font-size:16px;
    cursor: pointer;
    font-weight:600;
    border-color: cornflowerblue;
  }

  .player-name:hover {
    background-color:black;
    color:white;
  }

  .player-name:focus {
    outline: none;
  }

  #name-input {
    margin-top:15px;
    color:white;
    font-size:25px;
    font-weight:600;
  }

  tbody {
    display:flex;
    flex-direction:row;
    margin:20px auto;
    justify-content: center;
    
  }

  #title-page {
    background: url(../images/burger.png) no-repeat;
    background-size:800px 800px; 
    background-color:black; 
    background-position: 50% 18px;
     
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }

  #instructions-main {
    background-color:black;
  }

 #instructions-title {
  text-decoration: underline;
 }

 #objective {
   
   font-size:35px;
 }

 #controls {
   margin-top:40px;
 }

 #objective-text {
   width:900px;
   line-height:20px;
   margin:0 auto;
   font-size:20px;
 }