/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
   
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
    overflow:hidden;
    
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }

  main {
    text-align:center;
    font-size:40px;
    color:cornflowerblue;
    font-weight:400;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin:0 auto;
    height:100%;
    padding-top:0px;
  }


#splash-title {
  font-size:105px;

  font-weight:800;
}
  
main button {
  cursor: pointer;
}


  
#start-button {
  width:20%;
  padding:12px;
  margin-top:-25px;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  background-color:transparent;
  color:#fff;
  border-radius: 10px;
  border:none;
  font-weight:600;
}

#instructions-button {
  width:20%;
  padding:15px 12px 12px 12px;
  margin:5px auto;
  font-size:25px;
  background-color:transparent;
  color:#fff;
  border-radius: 10px;
  border:none;
  font-weight:600;
  cursor: pointer;
}

#back-button {
  width:30%;
  padding:12px;
  margin:5px auto;
  font-size:25px;
  background-color:transparent;
  color:cornflowerblue;
  border-radius: 10px;
  border:none;
  font-weight:600;
  color:#fff;
}

#back-button:hover {

  color:yellow;
}



#restart-button {
  width:20%;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  background-color:transparent;
  color:cornflowerblue;
  border-radius: 10px;
  margin-top:30px;
  border:none;
  font-weight:600;
  
  cursor: pointer;
}

#restart-button:hover {
  color:rgba(30, 28, 28, 0.778);
}

  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 1030px;
      margin: 0 auto;
    }
  }

  @media (min-height: 768px) {
    #title-page {
      background-size:800px
    }
  }
  
 
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom:5px;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;

  }

  .game .time {
    flex: 1;

  }
  
  .game .label {
    font-weight: bold;
    font-size:25px;
  }
  
  .game .value {
    font-style: italic;
    font-size:30px;
  }
  
  .game .canvas-container {
    flex: 1;
    margin-bottom:15px;
    margin-top:20px;
  }

  #counter-top {
    width:100%;
    height:20px;
    color:grey;
    margin-bottom:20px;
  }

  .collected  {
    font-size:25px;
    margin-bottom:10px;
    padding-bottom:20px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .collected img {
    width:60px;
    height:30px;
    margin-bottom:-25px;
  
  }
  .collected2 img {
    width:40px;
    height:30px;
    margin-bottom:-15px;
  }

  .collected2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
  }


  #collect {
    padding-top:0px;
    padding-bottom:15px;
   
  }

  #gameTop {
    padding-top:20px;
  }

  #score-board {
    margin-top:30px;
    font-size:25px;
    color:#fff;
    font-weight:600;
    padding-left:0;
    width:300px;
    margin: 0 auto;
    background-color:cornflowerblue;
  }

 #board-title {
    text-decoration: underline;
  }

  #score-title {
    margin-top:100px;
    font-size:25px;
    color:rgba(30, 28, 28, 0.778);
    font-weight:600;
    padding-left:0;
padding-top:25px;
    margin: 0 auto;
    background-color: cornflowerblue;
    box-shadow: 5px 8px;
  }

  #game-over {
    margin-top:30px;
  }

  #your-score {
    margin-top:10px;
    margin-bottom:30px;
  }

  .player-name {
    width:150px;
    padding:10px;
    margin: 0 auto;
  
    margin-top:6px;
    color:black;
    text-align:center;
    font-size:16px;
   background-color: transparent;
    font-weight:600;
    border-bottom: 1px solid white;
 
  }


  #name-input {
    margin-top:15px;
    color:white;
    font-size:25px;
    font-weight:600;
  }

  tbody {
    display:flex;
    flex-direction:row;
    margin:10px auto;
    justify-content: center;
    
  }

  #title-page {
    background: url(../images/rose-background-done.png) no-repeat;
   background-size:cover;
    background-color:black; 
    background-position: center;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
  

  }


  #instructions-main {
    background-color:black;
  }

 #instructions-title {
  text-decoration: underline;
  margin-top:10px;
  color:#fff;
 }

 #objective {
   padding-top:6px;
   font-size:35px;
   text-decoration: underline;
   color:#fff;
 }

 #controls {
   margin-top:40px;
 }

 #objective-text {
   width:800px;
   line-height:20px;
   margin:-20px auto;
   font-size:20px;

 }

 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
 }

 th {
   padding-bottom: 15px;
 }

 #game-rules {
 list-style-type:none;
 }

 #game-rules li {
  display:inline;
 }

 #arrows img {

  
 
 }

 #down {
margin:0 auto;


 }

 #instructions-img {
   height:30px;
 }

 #burgers-made {
   height:30px;
   margin-top:-25px;
 }